@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-size: 14px; /* Reduces base size from default 16px to 15px */
  }
}

/* Your custom CSS... */
.bg-gray-50 {
    background-color: #F8FAFC;
}
.band-logo img {
    height: 50px;
    filter: brightness(0) invert(1);
   
}

.client-space-mt {
 margin-top: 0px!important;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


