@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS... */

.band-logo img {
      height: 50px;
    filter: brightness(0) invert(1);
   
}



/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


